<!DOCTYPE html>

<html>
    <head>
        {{>headerlink}}
    </head>
    <body>
        <center>
      
        <!-- main header -->
        <div class="container-fluid main-header">
            <div class="row">
                <div class="col-md-6 col-12 main_header_left ">
                    <figure>
                        <img src="https://static-00.iconduck.com/assets.00/9-404-error-illustration-2048x908-vp03fkyu.png" alt="jhatu" class="img-fluid" title="My own work ">
                    </figure>

                    <p> 404 Error , Opps ! .</p>
                    <h1>{{errorMsg}}</h1>
                    <a herf="/weather"><button>About</button></a>
                
                </div>
                </div>
            </div>    
        </div>
        
       


        <script src="" async defer></script>
        </center>
    </body>
</html>