<nav class="navbar navbar-expand-lg navbar-dark">

  <a class="navbar-brand" href="">foody</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">HOME</a>
      </li>
      {{#if session.email}}
        <li class="nav-item">
          <a class="nav-link" href="./payment">PAYMENT</a>
        </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="#footer">CONTACT US</a>
      </li>

      {{#unless session.email}}
        <li class="nav-item">
          <a class="nav-link" href="./register">REGISTER</a>
        </li>
        <li class="nav-item">
          <a class="  btn btn-outline-light btn-lg download-button " href="login">LOG IN</a>
        </li>
      {{/unless}}
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT</a>
      </li>
    </ul>

  </div>
</nav>